<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<style type="text/css">
::-webkit-input-placeholder {
  color: white !important; 
}
:-moz-placeholder {
  color: white !important; 
}
:-ms-input-placeholder {
  /* IE10+ */
  color: white !important; 
}
</style>

<ion-content padding class="login" style="background-image:url('img/fondo.jpg');background-repeat: no-repeat;background-size: 100% 100%">

  <ion-grid>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4 style="margin-left: auto;margin-right: auto;display: block;">
        <img src="img/icon.png" style="width:100%;height:auto;border-radius: 100%">
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>
<form [formGroup]="myForm"  novalidate>
  <ion-list class="list-form" style="margin-top:30px;margin-bottom: 30px">
  	
  	<ion-item style="padding:0px !important; border-bottom:none !important;border-top:none;font-size: 14px;margin-top:10px;background:none;border-bottom:1px solid white;box-shadow:none;">
	    <ion-input style="color:white;border-bottom-color:white;box-shadow:none;" formControlName="username" type="text" placeholder="username"></ion-input>
  	</ion-item>
    <ion-item *ngIf="myForm.get('username').errors && myForm.get('username').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('username').hasError('required')">Field is required</p></ion-item>
  	<ion-item style="padding:0px !important; font-size: 14px;margin-top:10px;background:none;border-bottom:1px solid white;box-shadow:none;">
	    <ion-input style="color:white;border-bottom-color:white;box-shadow:none;" formControlName="password" type="password" placeholder="password"></ion-input>
  	</ion-item>
 <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('password').hasError('required')">Field is required</p>
    </ion-item>
  </ion-list>

  <button style="margin-top: 15px;height: 35px;font-size: 14px;background: #10ABF4;" ion-button  block  (click)="login()">Login</button>


  <button  style="margin-top: 15px;height: 35px;font-size: 14px;background: #10ABF4;"   ion-button block  (click)="signUp()">Register</button>
</form>

</ion-content>
