<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Formulario de registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
  <ion-list> 
    <ion-item>
      <ion-label stacked>Nombre:</ion-label>
      <ion-input formControlName="name" type="text" placeholder="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('name').hasError('required')">Field is required</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Username:</ion-label>
      <ion-input formControlName="username" type="text" placeholder="username"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('username').errors && myForm.get('username').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('username').hasError('required')">Field is required</p>
      <p color="danger" ion-text *ngIf="myForm.get('username').hasError('minlength')">Min of 5 characters</p>
      <p color="danger" ion-text *ngIf="myForm.get('username').hasError('maxlength')">Max of 10 characters</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>E-mail:</ion-label>
      <ion-input formControlName="email" type="text" placeholder="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Field is required</p>
      <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">It is not an email</p>
    </ion-item>

    
    
    <ion-item>
      <ion-label stacked>Password:</ion-label>
      <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('password').hasError('required')">Field is required</p>
      <p color="danger" ion-text *ngIf="myForm.get('password').hasError('pattern')">It is not a strong password</p>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block type="submit" [disabled]="myForm.invalid">Guardar</button>
  </div>
</form>
</ion-content>
