<ion-header>
  <ion-navbar color="damagy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">Perfil</ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
  	<div align="center">
    <ion-avatar item-start>
      <img src="img/administrator.png">
    </ion-avatar>
  		
  	</div>
   
  </ion-item>
  <ion-item align="center">
  	<div align="center">
  		<p>{{username}}</p>
  	</div>
  </ion-item>
    <ion-item align="center">
  	<div align="center">
  		<p>{{name}}</p>
  	</div>
  </ion-item>

    <ion-item align="center">
  	<div align="center">
  		<p>{{email}}</p>
  	</div>
  </ion-item>
</ion-list>
<div align="center">
	<button ion-button full (click)="deleteCache()">Logout</button>
</div>
</ion-content>
