<ion-header>
  <ion-navbar color="damagy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center" >Damagy Jeans</ion-title>
    <div *ngIf="total_ordered_items?.length > 0" style="position:absolute;right:32px;top:18px;background-color:#488AFF;padding:4px 8px;border-radius:50%;color:#fff;font-size:10px;">
        {{total_ordered_items.length}}
    </div>
    <ion-buttons end>
        <button (click)="toCar()" style="background-color:transparent;"><ion-icon id="car" name="cart"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  >

  <h3 style="text-align: center;">Selecciona</h3>

  <ion-card>
    <img src="img/pantalones-ajustados-hombres.jpg"/>
    <div class="card-title" (click)="gotoPastaPage()">Pantalones de Hombres</div>
  </ion-card>

  <ion-card>
    <img src="img/pantalones-ajustados-hombres.jpg"/>
    <div class="card-title" (click)='gotoPizzaPage()'>Pantalones de Mujeres</div>
  </ion-card>



</ion-content>
