page-home {
 ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    top: 36%;
    font-size: 1.8em;
    width: 100%;
    left: 15%;
    font-weight: bold;
    color: #eaeaea;
    border: 4px solid #6c6d67;
    border-radius: 21px;
    background: rgba(0, 0, 0, 0.72);
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #34495e;
  }

  .overlay{
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;

}

}
