
<ion-header>
  <ion-navbar color="damagy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Información</ion-title>
  
  
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
