<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar color="damagy">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list id="sidenav">
      <button align="center" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name={{p.icon}} item-start></ion-icon> 
        {{p.title}}
      </button>


      <ion-item (click)="menuItemHandler()"><ion-icon name="ios-contacts" item-start></ion-icon>Categoria  <ion-icon name="ios-arrow-down" item-end></ion-icon></ion-item>
  <ion-item menuClose (click)="openMen()" submenu-item *ngIf="showSubmenu"><ion-icon name="ios-body" item-start></ion-icon>Hombres</ion-item>
  <ion-item menuClose (click)="openWomen()" submenu-item *ngIf="showSubmenu"><ion-icon name="ios-woman" item-start></ion-icon>Mujeres</ion-item>
  
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>