<ion-header>
  <ion-navbar color="damagy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pantalones de Mujer</ion-title>
    <div *ngIf="total_ordered_items?.length > 0" style="position:absolute;right:32px;top:18px;background-color:#488AFF;padding:4px 8px;border-radius:50%;color:#fff;font-size:10px;">
        {{total_ordered_items.length}}
    </div>
    <ion-buttons end>
        <button  (click)="toCar()" style="background-color:transparent;"><ion-icon id="car" name="cart"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
<form [formGroup]="myForm" novalidate>

<ion-card *ngFor="let dat of data" style="background-color:#f6f6f6;margin-bottom:25px;">
  <img src="img/{{ dat.img }}.jpeg" />
  <ion-card-content>
    <ion-card-title>
      {{ dat.title }}
    </ion-card-title>
    <div><h4>Color</h4>
<ion-item>
  <ion-select>
 <ion-option [value]="item.value" *ngFor="let item of dat.color;let i = index;" style="margin-bottom:30px;">{{item.value}}</ion-option>
      </ion-select>  
</ion-item></div>

   <div><h4>Talla</h4>
<ion-item>
  <ion-select >
 <ion-option [value]="item.name" *ngFor="let item of dat.tallas;let i = index;" style="margin-bottom:30px;">{{item.value}}</ion-option>  </ion-select>
</ion-item></div>
<div>
  <h4>Cantidad</h4>
 <ion-item  >
      
    <ion-input  formControlName="cantidad" placeholder="Ingrese cantidad" type="tel"    ></ion-input>
    <!--<p color="danger" ion-text *ngIf="maxlength="20" && minLength="1".hasError('cantidad')">It is not an cantidad 30</p>-->

  </ion-item>
   <ion-item *ngIf="myForm.get('cantidad').errors  && myForm.get('cantidad').dirty ">
      <p color="danger" ion-text *ngIf="myForm.get('cantidad').hasError('required')">Campo Requedido</p>
      <p color="danger" ion-text *ngIf="myForm.get('cantidad').hasError('max')"> ingrese la cantidad inferior a 20</p>
      <p color="danger" ion-text *ngIf="myForm.get('cantidad').hasError('min')"> ingrese la cantidad superior a 1</p>
    </ion-item>
</div>
    <p *ngFor="let item of dat.items;let i = index;" style="margin-bottom:30px;">
      {{ item.details }}<br><br>
      
      <span style="font-size:15px;font-weight:bold;float:right;">Bs{{ item.price }}</span>
      <button *ngIf="i==0" ion-button block (click)="showConfirm(dat.title,item.price,cantidad);" [disabled]="myForm.invalid"><ion-icon name="cart"></ion-icon>Agregar a Carrito</button>
    </p>
  </ion-card-content>
</ion-card>
</form>

</ion-content>
