page-checkout {
	
}

.checkout {
	.alert-message,.alert-head {background-color:red!important;color:#fff!important;}
}

.alertcss{
	.alert-message,.alert-head {background-color:#FF404B!important;color:#fff!important;}

}
.order-list{
    font-size: 0.60em;
    
}
