<ion-header>
  <ion-navbar color="damagy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrito</ion-title>
  </ion-navbar>

</ion-header>

<ion-content      class="checkout" padding>

  <h4>Productos:</h4>

  <ion-list>
    <ion-item-sliding *ngFor="let order of orders;let i = index;">
      <ion-item>
          <div class="order-list"><b>{{order.title}} || </b> <span><b>Cantidad:</b> {{order.cantidad}} ||</span><!-- <span><b>Precio Unidad:{{order.amount}} || </b></span> --><button style="    font-size: 0.99em;" round><b> Total Bs.</b>{{order.total}}</button> </div>
      </ion-item>    
      <ion-item-options>
        <button ion-button color="danger" (click)="showConfirm(i);"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div>
    <p style="font-size:18px;">Total: <strong>Bs.{{totalBill|number:0}}</strong></p>
  </div>

  <hr>
  {{data.response}} 
  
<div>
  <form [formGroup]="myForm" (ngSubmit)="sendSaleCart()" novalidate>
      <ion-list>
        <ion-item>
          <h2 align="center">Información del Cliente:</h2>
        </ion-item>
    
    <ion-item>
        <ion-input formControlName="username"  value="{{name}}" type="text" name="username" placeholder="Ingrese su nombre"></ion-input>
    </ion-item>
        <ion-item *ngIf="myForm.get('username').errors && myForm.get('username').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('username').hasError('required')">* Campo requerido</p>
    </ion-item>
     <ion-item>
      <ion-input formControlName="phone" type="tel" placeholder="Ingrese su número de contacto" ></ion-input>
    </ion-item>
<ion-item *ngIf="myForm.get('phone').errors && myForm.get('phone').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('phone').hasError('minlength')">Min of 8 digitos</p>
      <p color="danger" ion-text *ngIf="myForm.get('phone').hasError('maxlength')">Max of 8 digitos</p>
    </ion-item>
   <ion-item>
      <ion-input formControlName="direccion" type="text" name="direccion" placeholder="Ingrese su Direccion"></ion-input>
    </ion-item>

     <ion-item>
      <ion-input formControlName="email" type="email" name="email" placeholder="email"></ion-input>
    </ion-item> 
     <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">* Campo requerido</p>
      <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">Email no valido</p>
    </ion-item>
 <ion-item>
    <ion-label>Tipo de entrega</ion-label>
    <ion-select formControlName="entrega">
      <ion-option value="tienda">En Tienda</ion-option>
      <ion-option value="ubicacion">En Ubicacion</ion-option>
     </ion-select>
    </ion-item>
      <ion-item>
        <ion-input  formControlName="ci" type="number"  name="ci" placeholder="Ingrese su número de Ci"></ion-input>
      </ion-item>
     <ion-item>
        <ion-label>Fecha de Entrega</ion-label>
      <ion-datetime  formControlName="month" displayFormat="YYYY MMM DD" ></ion-datetime>
    </ion-item>
        </ion-list>
      <div padding>

        <button ion-button block   [disabled]="myForm.invalid">Enviar mi pedido</button></div>
  </form>
</div>
</ion-content>